@inherits LayoutComponentBase

<PageTitle>Free_Nba_Blazor_Server_Project</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://rapidapi.com/theapiguy/api/free-nba" target="_blank">FREE NBA</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
